
.estimate-project .estmate-father {
  background-image: url("../imgs/Estatimate/bright.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 80vh;
/*    border-radius: 25px ;*/
    width: 100%;
    
  display:grid;
  grid-template-columns: 1fr;
}

.estimate-project .estmate-father .estimate-body {
  padding-left: 150px;
  padding-top: 100px;
}

.estimate-project .estmate-father .estimate-body p {
    font-family: Rubik-Regular-;
    color: #141f32;
    font-size: 1.25rem;
    font-weight:blod;
}

.estimate-project .estmate-father .estimate-body h2 {
/*    font-family: PTSerif-Bold-;
    line-height: 28px;
    text-transform: capitalize;
    color: #141f32;
*/
    color: var(--btn-color);
    padding: 20px 0;
    font-size:3.25rem;
}

.estimate-project .estmate-father .estimate-body .btn {
  cursor: pointer;
  width: 200px;
  height: 55px;
  border-radius: 27.5px;
  background-color: #f9320c;
  color: white;
/*  margin-top: 20px;*/
  font-size: 12px;
}
