.updates {
    background-color: #ffffff !important;
  }
  .updates__title {
    text-align: center;
    font-size: 45px; 
    margin-top: 15px ;
    margin-bottom: 15px;
  }
  .updates__group 
  {
    display: flex;
    justify-content: center;
  }
  .updates__card {
    width: 360px;
    height: 450px;
    background-color: var(--sub-color);
    margin: 10px;
  
  }
  .updates__cardimg {
    
    width: 280px;
    height: 197px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    
  }
  .updates__p
  {
    
    height: 112px;
    font-size: 24px;
    text-align: center;
    color: #141f32;
    margin: 10px;
  }
  
 .updates__nav {
    width: 85%;
    height: 40px;
    display: flex;
    justify-content: center;
    justify-content: space-around;

    margin-top: 10px;
    margin-bottom: 10px;
  }
  .updates__nav img {
    width: 40px;
    border-radius: 50%;
    margin-right:0px ;
  }
  .updates__nav i {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .updates__nav p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  