*{margin: 0; padding: 0;box-sizing: border-box;} /* Reset WebSite */
html{scroll-behavior: smooth;} /* Scroll Smooth */
:root {
    --main-color: #f9320c; /* This Main Color In Website */
    --sub-color: #f9f7ff;  /* This Sub Color In Website */
    --p-color: #7a8baa;    /* This For Paragraphs and Links */
    --btn-color: #141f32;  /* This For btn and Heading */
}
/* 
Fonts Should Be Use
PTSerif => For Heading
Rubik => For Paragraphs and  Buttons and Links
 */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&family=Rubik:ital,wght@0,400;0,500;1,300;1,400&display=swap');

body {
    font-family: 'Rubik' ,sans-serif;
  }
/* Use In Any Section should to Use It :D */
.container {
    max-width: 1200px;
    width: 75%;
    margin: auto;
}
/* Every Section Will Be Padding Top and Bottom 40px */
.section--py{padding: 40px 0;}
.section:nth-of-type(odd){background-color: var(--sub-color);}
.section:nth-of-type(even){background-color: #fff;}

a {text-decoration: none;}  
a:hover {color: var(--main-color);}
  
ul {list-style: none;}
p{color: var(--p-color);}
h1,h2,h3,h4,h5,h6{font-family: 'PT Serif', serif;}
/* Custom Button */
.btn{
    border: none;
    padding: 0.5rem 2rem;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
  }
/* If You Want Button With Background Must Be Use This Class */
.btn--withbg{background-color: var(--main-color); color: #fff;}
/* If You Want Button With non-Background Must Be Use This Class */
.btn--withoutbg{background-color: unset; color: var(--btn-color);}