*{margin: 0; padding: 0;box-sizing: border-box;} /* Reset WebSite */
html{scroll-behavior: smooth;} /* Scroll Smooth */
:root {
    --main-color: #f9320c; /* This Main Color In Website */
    --sub-color: #f9f7ff;  /* This Sub Color In Website */
    --p-color: #7a8baa;    /* This For Paragraphs and Links */
    --btn-color: #141f32;  /* This For btn and Heading */
}
/* 
Fonts Should Be Use
PTSerif => For Heading
Rubik => For Paragraphs and  Buttons and Links
 */
@font-face{font-family:'PTSerif'; src:url(../fonts/PTSerif-Regular.ttf);}
@font-face{font-family:'Rubik'; src:url(../fonts/Rubik.ttf);}
/* Use In Any Section should to Use It :D */
.container {
    max-width: 1200px;
    width: 75%;
    margin: auto;
}
/* Every Section Will Be Padding Top and Bottom 40px */
section{padding: 40px 0;}
section:nth-of-type(odd){background-color: var(--sub-color);}
section:nth-of-type(even){background-color: #fff;}

a {text-decoration: none;}  
a:hover {color: var(--main-color);}
  
ul {list-style: none;}

p{color: var(--p-color);}

/* Custom Button */
button{
    border: none;
    padding: 0.5rem 2rem;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid var(--main-color);
  }
button:focus{outline: none;}
/* If You Want Button With Background Must Be Use This Class */
.btn--withbg{background-color: var(--main-color); color: #fff;}
/* If You Want Button With non-Background Must Be Use This Class */
.btn--withoutbg{background-color: unset; color: var(--btn-color);}