/* Start recent-works section */

.recent-works {text-align: center; clear: both;}

.recent-works h2 {
/*
 font-size: 40px;
 color: #141f32;
 line-height: 1.4;
font-family:sans-serif;
*/
    font-weight: bold;
    font-size:3.25rem;
    color: var(--btn-color);
    padding: 15px 0;
}



 .recent-works ul li{
/*   font-family: Rubik;*/
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2;
    padding: 10px;
    color: #7a8baa;
    display: inline-block;
}
.recent-works ul li:hover{color: #f9320c;
                          font-weight: 600;}
                          
.recent-works ul .active {color:  #f9320c;
                           font-weight: 600; }

.recent-works-img{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 2rem 1rem 2rem 1rem;
    justify-items:center;
    align-items: center;
    grid-gap: 2rem 2rem;
    justify-content: center;
                            
   
  
}
.recent-works .recent-works-img img{
    max-width: 100%;
    height: auto;
}

               
.recent-works button {color: white;
                        background-color: rgb(250, 27, 27);
                        height: 60px;
                        width: 200px;
                        padding: 12px;
                        border-radius: 30px;
                        font-size: 18px;
                        margin-left: 20px;
                       border: 2px solid rgb(250, 27, 27) ;}








/* End recent-works section */






















